<div class="labels">
  <div class="container">
    <h2 class="titlecur">Labels we love</h2>
    <div class="row">
      <div class="col">
        <div class=" img img1"></div>
        <a href="#">Realher</a>
      </div>
      <div class="col">
        <div class=" img img2"></div>
        <a href="#">One sex five</a>
      </div>
      <div class="col">
        <div class=" img img3"></div>
        <a href="#">reserved footewar</a>
      </div>
      <div class="col my-0">
        <div class=" img img4"></div>
        <a href="#">Casery</a>
      </div>
    </div>
    <button class="btn">See more</button>
  </div>
</div>