<div class="women-cat text-center">
  <div class="container">
    <h2 class="titlecur">Women's must-haves</h2>
    <div class="row">
      <div class="col">
        <div class="img1"></div>
        <a href="#">Dress Pants</a>
      </div>
      <div class="col">
        <div class="img2"></div>
        <a href="#">Tops</a>
      </div>
      <div class="col">
        <div class="img3"></div>
        <a href="#">Jumbsuits</a>
      </div>
      <div class="col">
        <div class="img4"></div>
        <a href="#">Sweeters</a>
      </div>
      <div class="col">
        <div class="img5"></div>
        <a href="#">Jeans</a>
      </div>
      <div class="col">
        <div class="img6"></div>
        <a href="#">Bleazers</a>
      </div>
    </div>
  </div>
</div>