<div class="setting">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <app-slide-user></app-slide-user>
      </div>
      <div class="col-9">
        <div class="user-option">
          <div class="row">
            <div class="col-6 stheigh">
                <mat-card class="py-3">
                  <h2>Shipping Address</h2>
                  <p class="pfirst">Checkout faster with your saved address</p>
                  <p class="border-top plast">No Shopping Address saved</p>
                  <button class="btn btn-block" routerLink="/shipping-address">View Shipping Address</button>
                </mat-card>
            </div>
            <div class="col-6 stheigh">
                <mat-card class="py-3">
                    <h2>Login & Security</h2>
                    <p class="pfirst pfs">Edit login, name & password</p>
                    <button class="btn btn-block" routerLink="/login-edit">View Login & security</button>
                  </mat-card>
            </div>
          </div>
          <div class="row">
              <div class="col">
                  <mat-card class="py-3 mt-5">
                      <h2>Payment Options</h2>
                      <p class="pfirst pfs">Edit & Add Payment Methods</p>
                      <p class="border-top plast">No payment option saved</p>
                      <button class="btn btn-block">View Payment options</button>
                    </mat-card>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>