<div class="men-sale">
    <div class="container">
      <h2 class="text-center">New For all Men</h2>
      <div class="row">
        <div class="col-3" *ngFor="let item of womens">
            <div class="card text-left">
            <img [src]="item.imgSrc" alt="Denim Jeans" style="width:100%">
            <div class="card-body">
              <h4>Tailored Jeans</h4>
            <p class="price"> <span class="sp1"> $55.90 </span> <span class="text-danger">$19.99</span> </p>
            <p>Some text about the jeans..</p>
            <p><button class="btn btn-block">Add to Cart</button></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row offer">
        <div class="col">
          <img src="../../../../assets/imgs/Screenshot_20.png" class="img-thumbnail" alt="">
        </div>
      </div>
    </div>
  </div>
  