<div class="side">
  <h2 class="h3">Mid Rise Wash Jean leggins</h2>
  <div class="price">
  <div class="row">
        <div class="col">
            <span style="text-decoration: line-through;">$79.99</span> <span class="text-danger">$39.9</span> 
          </div>
          <div class="col">
              <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                <a href="#">205 Reviews</a>
                  <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
              </div>
          </div>
          <div class="col-12">
              <p class="offer">Special Offer</p>
          </div>
    </div>
  </div>
  <p class="dark">Dark Wash 20</p>
  <button class="color"><span></span></button>
  <hr>
  <div class="row">
    <div class="col-9">
      <div class="size">
          Select Size : 
          <span>Short</span>
          <span>Long</span>
          <span class="active">Regular</span>
          <span>Petite</span>
      </div>
    </div>
    <div class="col-3">
      <a href="#">Size Chat</a>
    </div>
  </div>  
  <div class="row">
    <div class="col-12">
        <div class="number-size">
            <span>00</span>
            <span>0</span>
            <span>4</span>
            <span>6</span>
            <span>16</span>
            <span>32</span>
        </div>
    </div>
    <div class="col-12 border-bottom">
      <button class="btn btn-block text-uppercase add-bag">Add To Bag</button>
    </div>
    <div class="col-12 border-bottom">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              This is the expansion title
            </mat-expansion-panel-header>
          
            <ng-template matExpansionPanelContent>
              Some deferred content
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                This is the expansion title
              </mat-expansion-panel-header>
            
              <ng-template matExpansionPanelContent>
                Some deferred content
              </ng-template>
            </mat-expansion-panel>
    </div>
    <div class="col-12 store border-bottom">
      <div class="check">
          <div class="row">
              <div class="col-9">
                  <p class=" text-left">Check Availabilty at Stores Near You  </p>
                </div>
                <div class="col-3">
                    <a href="#" style="float: right;">Change Store</a>
              </div>
            </div>
      </div>
    </div>
    <div class="col-12 gifts border-bottom">
      <div class="gift">
          <div class="row">
              <div class="col-9">
                  <a href="#">Send As Gift</a>
                  <p>Recipient can customize or exchange online</p>
              </div>
              <div class="col-3 text-right">
                <i class="fa fa-gift" aria-hidden="true"></i>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>