<div class="row">
  <div class="col-12">
      <h2>What Others Are Saying</h2>
  </div>
  <div class="col border-top border-bottom">
    <div class="row text-center reviews">
      <div class="col">
          <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
              <a href="#">205 Reviews</a>
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
            </div>
      </div>
      <div class="col">
        <p>Runs Small ------------------- Runs Large</p>
      </div>
      <div class="col">
        94% Recommended
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row recent">
      <div class="col">
        <p>Most Recent Reviews</p>
      </div>
      <div class="col text-right">
        <a href="#" class="text-uppercase">Write A reviews </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-4">
          <mat-card class="card">
            <p><i class="fa fa-product-hunt" aria-hidden="true"></i> Top 250 Contributor</p>
            <div class="starrating risingstar ">
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
              <a href="#">Oct 9 , 2019</a>
              </div>
              <p>Great Jeans</p>
              <p>I'm Such a fan of express jeans! The color is just perfect</p>
              
              <div class="small-large">
                <span class="text-left">Runs Small</span>
                <span class="text-right" style="float: right;">Runs Large</span>
              </div>
              <p>Frequency : Twice per month</p>
              <div class="helpful">
                <div class="row">
                  <div class="col text-right mb-3">
                    <p>Was this review helpful ? <span><i class="fa fa-hand-o-right" aria-hidden="true"></i> 0</span>  <span><i class="fa fa-hand-o-right" aria-hidden="true"></i> 0</span></p>
                  </div>
                </div>
              </div>
            <img src="../../../../../assets/imgs/applee.png" alt="">
          </mat-card>
      </div>
    </div>
  </div>
</div>