 <div class="bag">
  <div class="container">
    <span style="float: right;" title="Express Help Phone Number" class="mob"><i class="fa fa-phone" aria-hidden="true"></i> help ? (888) 397-1980</span>
    <div class="row">
      <div class="col-8">
          <h2 class="text-center">Bag <span class="badge badge-primary">5</span><sub>(items)</sub></h2>
        <div class="sign text-center">
         <p>Sign in to See your bag items</p> 
         <button mat-button class="btn btn-default text-uppercase" routerLink="/login">Sign in</button>
          <a routerLink="/" class="btn-link">Continue Shopping</a>
        </div>
      </div>
      <div class="col-4">
        <div class="summary">
            <h3>Bag Summary</h3>
            <button class="btn btn-primary btn-block">free standered shipping on order $50+</button>
            <h2 class="h1">Express <span class="sp1">/ next</span></h2>
            <p><a href="#">Sign in </a> to access Rewards and earn points</p>
            <mat-card class="mat">
                <p class="pfirst">Totla Before Tax (USD): <span class="text-right sp2">$0.00</span></p>
            </mat-card>
            <button class="btn mat btn-block text-center text-uppercase">CheckOut</button>
            <button class="btn mat btn-block text-center text-uppercase">CheckOut With <span class="pay sp3">Pay</span><span class="pal sp4">Pal</span></button>
            <hr>

            <div class="text">
                <ul class="list-unstyled">
                    <li>
                      <i class="fa fa-lock" aria-hidden="true"></i>
                      <p>Secure Shopping</p>
                      <span>No Worries - all transiction are safe and secure</span>
                    </li>
                    <li>
                      <i class="fa fa-reply" aria-hidden="true"></i>
                      <p>Not Quite Right</p>
                      <span>Return in store or online for up 60 days</span>
                    </li>
                    <li>
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <p>We are here to help</p>
                      <span>Call us anytime at (888) 397-1980</span>
                    </li>
                   
                  </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div> 



