<div class="footer">
  <div class="container">
    <div class="row">
        <div class="col-4">
            <div class="socials">
              <ul class="list-unstyled">
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-pinterest"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-instagram    "></i></li>
                <li><i class="fa fa-snapchat    "></i></li>
                <li><i class="fa fa-youtube    "></i></li>
              </ul>
            </div>
            <div class="sign">
              <p>Sign Up For Mobile Alerts</p>
              <p>Sign Up For Email</p>
            </div>
            <div class="sign-social">
              <div class="row">
                <div class="col-2">
                    <img src="../../../assets/imgs/apple.png" alt="" srcset="">
                  </div>
                  <div class="col-2">
                    <img src="../../../assets/imgs/google.png" alt="" srcset="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="par">
                <h5>Store Locater</h5>
                <p>Find A store</p>
                <p> Express Factory outlet</p>
            </div>
            <div class="par">
                <h5>Express Next</h5>
                <p>Express Next Rewards</p>
                <p>Benifits</p>
                <p>Frequently-Asked questions</p>
                <p>Terms and conditions</p>
            </div>
            <div class="par">
                <h5>Express Next Cridit Card</h5>
                <p>Benifits</p>
                <p>Apply</p>
                <p>Pay/View Account</p>
            </div>
          </div>
          <div class="col-2">
              <div class="par">
                  <h5>Gift Cards</h5>
                  <p>Buy Gift Caeds</p>
                  <p> Check your Behance</p>
              </div>
              <div class="par">
                  <h5>About Express</h5>
                  <p>About Us</p>
                  <p>Who We Are </p>
                  <p>In The Community</p>
                  <p>Careers</p>
                  <p>For Investor</p>
              </div>
          </div>
          <div class="col-2">
              <div class="par">
                  <h5>Popular Pages</h5>
                  <p>Women's Clothing</p>
                  <p> Men's Streatwear</p>
                  <p>Negin Mirsalehi Collection</p>
                  <p>Petite Clothing</p>
                  <p>Jeans</p>
                  <p>Dresses</p>
                  <p>Men’s Suits</p>
                  <p>Women's Tops</p>
                  <p>Women's Sweaters</p>
                  <p>Men's Sweaters</p>
                  <p>Women's Coats</p>
                  <p>Men's Coats</p>
                  <p>Men's Dress Shirts</p>
                  <p>The Edit x Express</p>
                  <p>EXP Style Trial</p>
              </div>
          </div>
          <div class="col-2">
              <div class="par">
                  <h5>Customer Services</h5>
                  <p>(888) EXP-1980</p>
                  <p>ORDER STATUS</p>
                  <p>Help</p>
                  <p>Returns Policy</p>
                  <p>Express Coupons</p>
                  <p>Student Discount</p>
                  <p>Contact Us</p>
                  <p>Feedback</p>
                </div>
              <div class="par">
                  <h5>EXPRESS For Business</h5>
                  <p>Corporate Apparel Program</p>
                  <p>Register Your Company</p>
              </div>
          </div>
    </div>
  </div>
</div>