<div class="wear-now">
    <div class="container">
      <h2 class="titlecur">What to wear now</h2>
      <div class="row">
        <div class="col">
          <div class=" img img1"></div>
          <p class="text-uppercase">ultra cozy faves</p>
          <a href="#">Shop Now</a>
        </div>
        <div class="col">
          <div class=" img img2"></div>
          <p class="text-uppercase">soft shepra layers</p>
          <a href="#">Shop Now</a>
        </div>
        <div class="col">
          <div class=" img img3"></div>
          <p class="text-uppercase">Modern utility</p>
          <a href="#">Shop Now</a>
        </div>
        <div class="col my-0">
          <div class=" img img4"></div>
          <p class="text-uppercase">fall flannels</p>
          <a href="#">Shop Now</a>
        </div>
      </div>
    </div>
  </div>