<div class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="offer">
          <p>Free Shopping on Orders $50 + <span routerLink="/details">Details</span></p>
        </div>
      </div>
      <div class="col">
        <div class="logo text-center">
          <h1 routerLink="/">Express</h1>
        </div>
      </div>
      <div class="col">
        <div class="icons">
          <ul>
              
            <li>
              <i class="fa fa-search expand" aria-hidden="true" ></i> </li>
            <li [routerLink]="['/login']"><i class="fa fa-user expand" aria-hidden="true"></i></li>
            <li [routerLink]="['/bag']"><i class="fa fa-shopping-bag expand" aria-hidden="true"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>