<div class="details">
  <div class="container">
    <h4>Free Shipping On Orders $50+</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus alias recusandae numquam, nostrum aperiam dolor, ut temporibus dolores, fugiat aut cum officia! Illo autem quam consequuntur fugiat placeat beatae perspiciatis corporis asperiores, vitae eos quibusdam repellat nihil neque ducimus, quis qui ipsam, nostrum omnis. Dolorem eius est suscipit voluptatem nihil.</p>
    <h2 class="text-uppercase">Express <span>/ next</span></h2>
    <h4>A-List Cridet Card Holders get Free Standerd Shipping every day.</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio veritatis, rem ratione dolorum voluptates dolores reprehenderit rerum doloremque nostrum quidem excepturi soluta quam quae quasi, culpa cumque, facere quisquam autem necessitatibus dicta nam! Perferendis deserunt fugit natus minus veritatis corporis praesentium temporibus cupiditate nobis explicabo, quas ipsam sint? Excepturi, cum?</p>
  </div>
</div>