<div class="men-cat text-center">
    <div class="container">
      <h2 class="titlecur">Men's must-haves</h2>
      <div class="row">
        <div class="col">
          <div class="img1"></div>
          <a href="#">Suits</a>
        </div>
        <div class="col">
          <div class="img2"></div>
          <a href="#">Shirts</a>
        </div>
        <div class="col">
          <div class="img3"></div>
          <a href="#">polos</a>
        </div>
        <div class="col">
          <div class="img4"></div>
          <a href="#">Jeans</a>
        </div>
        <div class="col">
          <div class="img5"></div>
          <a href="#">Tees</a>
        </div>
        <div class="col">
          <div class="img6"></div>
          <a href="#">Dress pants</a>
        </div>
      </div>
    </div>
  </div>

