<div class="menue border-bottom">
    <ul class="nav">
        <li class=""><a class="expand" href="#">Women</a>
            <div>
                <div class="widthh">
                    <div class="row">
                        <div class="col-3">
                            <div class="nav-column">
                                <h3>Home</h3>
                                <ul *ngFor="let item of Women">
                                    <li><a href="#">{{item}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="nav-column">
                                <!-- <h3>Home</h3>
                        <ul *ngFor="let item of Women">
                            <li><a href="#">{{item}}</a></li>
                        </ul> -->
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="nav-column">
                                <img src="../../../../../assets/imgs/hp-dg-9pc-dt.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li><a class="expand" href="#">Men</a>
            <div>
                <div class="widthh">
                    <div class="row">
                        <div class="col-3">
                            <div class="nav-column">
                                <h3>Home</h3>
                                <ul *ngFor="let item of Women">
                                    <li><a href="#">{{item}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="nav-column">
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="nav-column">
                                <img src="../../../../../assets/imgs/hp-dg-9pc-dt.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li><a class="expand" href="#">Jeans</a>
            <div>
                <div class="widthh">
                    <div class="row">
                        <div class="col">
                            <div class="nav-column">
                                <h3>Home</h3>
                                <ul *ngFor="let item of Women">
                                    <li><a href="#">{{item}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="nav-column">
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="nav-column">
                                <img src="../../../../../assets/imgs/hp-dg-9pc-dt.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li><a class="expand" href="#">New</a>
            <div>
                <div class="widthh">
                    <div class="row">
                        <div class="col-3">
                            <div class="nav-column">
                                <h3>Home</h3>
                                <ul *ngFor="let item of Women">
                                    <li><a href="#">{{item}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="nav-column">
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="nav-column">
                                <img src="../../../../../assets/imgs/hp-dg-9pc-dt.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li><a class="expand" href="#">Sale</a>
            <div>
                <div class="widthh">
                    <div class="row">
                        <div class="col-3">
                            <div class="nav-column">
                                <h3>Home</h3>
                                <ul *ngFor="let item of Women">
                                    <li><a href="#">{{item}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="nav-column">
                                <!-- <h3>Home</h3>
                        <ul *ngFor="let item of Women">
                            <li><a href="#">{{item}}</a></li>
                        </ul> -->
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="nav-column">
                                <img src="../../../../../assets/imgs/hp-dg-9pc-dt.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li><a class="expand" href="#">Style</a>
            <div>
                <div class="widthh">
                    <div class="row">
                        <div class="col-3">
                            <div class="nav-column">
                                <h3>Home</h3>
                                <ul *ngFor="let item of Women">
                                    <li><a href="#">{{item}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="nav-column">
                                <!-- <h3>Home</h3>
                        <ul *ngFor="let item of Women">
                            <li><a href="#">{{item}}</a></li>
                        </ul> -->
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="nav-column">
                                <img src="../../../../../assets/imgs/hp-dg-9pc-dt.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li><a class="expand" href="#">Label We Love</a>
            <div>
                <div class="widthh">
                    <div class="row">
                        <div class="col-3">
                            <div class="nav-column">
                                <h3>Home</h3>
                                <ul *ngFor="let item of Women">
                                    <li><a href="#">{{item}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="nav-column">
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                                <h3>Home</h3>
                                <ul>
                                    <li><a href="#">Driving shoes</a></li>
                                    <li><a href="#">Espadrilles</a></li>
                                    <li><a href="#">Loafers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="nav-column">
                                <img src="../../../../../assets/imgs/hp-dg-9pc-dt.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>