<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumb">
              <a class="breadcrumb-item" href="#">Women</a>
              <a class="breadcrumb-item" href="#">Bottoms</a>
              <a class="breadcrumb-item" href="#">Jeans</a>
              <span class="breadcrumb-item active">Style</span>
            </nav>
          </div>
    </div>
</div>
<div class="product-details">
  <div class="container">
      <div class="row">
          <div class="col-7">
            <div class="img-product">
              <app-slider></app-slider>
            </div>
            <app-related></app-related>
          </div>
          <div class="col-5">
              <app-side-product-details></app-side-product-details>
            </div>
        </div>
        <hr>
      </div>
</div>

<div class="sayin">
  <div class="container">
      <app-other-saying></app-other-saying>
  </div>
</div>