  <div class="recommend">
    <div class="container">
      <h2 class="titlecur">Recommended</h2>
      <div class="row">
        <div class="col">
          <div class="img1"></div>
          <p>9 pieces / 33 looks</p>
          <a href="#">Women</a>&nbsp;
          <a href="#">Men</a>
        </div>
        <div class="col">
            <div class="img2"></div>
            <p>Express Gift cards : always the perfect fit</p>
            <a href="#">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
